{%extends "layout.html"%}
{%block content%}

<div class="contacts">
        <div class="offices">
            <div class="office">
                <p class="map"><i class="fas fa-map-marker-alt"></i></p>
                <h4>california</h4>
                <p>phone:</p>
                <p class="phone">1900 - 1234 - 5678</p>
                <p>email:</p>
                <p class="email">info@interior.com</p>
                <p>address:</p>
                <p class="address">12 W 1st St, 90001 Los Angeles, California</p>

            </div>
            <div class="office">
                 <p class="map"><i class="fas fa-map-marker-alt"></i></p>
                <h4>california</h4>
                <p>phone:</p>
                <p class="phone">1900 - 1234 - 5678</p>
                <p>email:</p>
                <p class="email">info@interior.com</p>
                <p>address:</p>
                <p class="address">12 W 1st St, 90001 Los Angeles, California</p>

            </div>
            <div class="office">
                 <p class="map"><i class="fas fa-map-marker-alt"></i></p>
                <h4>california</h4>
                <p>phone:</p>
                <p class="phone">1900 - 1234 - 5678</p>
                <p>email:</p>
                <p class="email">info@interior.com</p>
                <p>address:</p>
                <p class="address">12 W 1st St, 90001 Los Angeles, California</p>

            </div>
            
            
        </div>
        <div class="footer">
            <div class="padding-class">
               <div class="text1">
                <h4>contact us</h4>
                <p>132A Bridge Road Richmond VIC Australia.
                <br>
                <br>
                Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="text2">
               <h4>useful information</h4>
                <div class="columns">
                   <div class="column1">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                <div class="column2">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="text3">
                <h4>let's stay in touch!</h4>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <div class="send">
                <input type="email" placeholder="your email adress" class="placeholder">
                <a href="#"><img src="img/send.png" alt="send"></a>
                </div>
            </div>

            </div>
                 <div class="endline">
                <p>&copy; Copyright - INTERIOR 2018. All Rights Reserved.</p>
                <div class="icons">
 
                     <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                     <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                     <a href="#" class="social"><i class="fab fa-pinterest-p"></i></a>
</div>
                <a href="#">Terms &amp; Conditions  /  Privacy policy &amp; Cookies</a>
            </div>          
        </div>
</div>
{%endblock%}