{%extends "layout.html"%}
{%block content%}
<div class="home">
                  <div class="top-block">

           <div class="menustring">
           <a href="#" class="active-link">all</a>
           <a href="#">home</a>
           <a href="#">office</a>
           <a href="#">furniture</a>
           <a href="#">modern</a>
           <a href="#">classic</a>
       </div>
                  </div>
    <div class="explore-menu">
            <div class="explore-header">
                <a href="#" class="active-link">Featured</a>
                <a href="#" class="passive-link">New</a>
            </div>
            <div class="explore-all">
                <a href="#">explore all
                <img src="img/arrow.png" alt="arrow"></a>
            </div>
        </div>
        <div class="goods-feature">
            <div class="product">
                <a href="#"><img src="img/product-1.jpg" alt=""></a>
                <div class="item-hover">
                    <a href="#"><img src="img/arrow.png" alt="hover-arrow"></a>
                    <h5>fishnet chair</h5>
                    <p>Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="product">
                <a href="#"><img src="img/product-2.jpg" alt=""></a>
                                <div class="item-hover">
                    <a href="#"><img src="img/arrow.png" alt="hover-arrow"></a>
                    <h5>fishnet chair</h5>
                    <p>Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="product">
                <a href="#"><img src="img/product-3.jpg" alt=""></a>
                                <div class="item-hover">
                    <a href="#"><img src="img/arrow.png" alt="hover-arrow"></a>
                    <h5>fishnet chair</h5>
                    <p>Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="product">
                <a href="#"><img src="img/product-4.jpg" alt=""></a>
                                <div class="item-hover">
                    <a href="#"><img src="img/arrow.png" alt="hover-arrow"></a>
                    <h5>fishnet chair</h5>
                    <p>Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
        </div>
        <div class="exclusive">
            <div class="exclusive-product1">
                <div class="exclusive-text">
                    <h4>exclusive</h4>
                    <h2>fishnet chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a href="">order us</a>
                </div>
            </div>
            <div class="exclusive-product2">
                <div class="exclusive-text">
                    <h4>exclusive</h4>
                    <h2>fishnet chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a href="">order us</a>
                </div>
            </div>


        </div>
        <div class="trending">
            <div class="trending-header">
                <h2>trending products</h2>
                <div class="explore-all">
                <a href="#">explore all
                <img src="img/arrow.png" alt="arrow"></a>
                </div>
            </div>
            <div class="products">
            <a href="#" class="product1"></a>
            <a href="#" class="product2"></a>
            <a href="#" class="product3"></a>
            <a href="#" class="product4"></a>
            <a href="#" class="product5"></a>
            <a href="#" class="product6"></a>
            </div>
        </div>
        <div class="hotdeal">
            <div class="hotdeal-text">
                    <h4>hot deal</h4>
                    <h2>fishnet chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a href="#">order us</a>
                </div>
                <div class="circlebox">
                    <a href="#" class="circle"></a>
                    <a href="#" class="circle active-circle"></a>
                    <a href="#" class="circle"></a>
                </div>
        </div>
        <div class="exclusive-bottom">
            <div class="large">
                <div class="exclusive-text">
                    <h4>exclusive</h4>
                    <h2>fishnet chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a href="">order us</a>
                </div>
            </div>
            <div class="small">
                <a href="#" class="product1"></a>
                <a href="#" class="product2"></a>
                <a href="#" class="product3"></a>
                <a href="#" class="product4"></a>
            </div>
            
            
        </div>
        <div class="mobile">
            <div class="mobile-text">
               <h4>mobile app</h4>
               <h2>find.&nbsp;follow. favorite.</h2>
               <p>Save your favorites and share your style.</p> 
            </div>
            <div class="markets">
                <a href="#"><img src="img/app-store.jpg" alt="appstore"></a>
                <a href=""><img src="img/google-play.jpg" alt="googleplay"></a>
            </div>
        </div>
        </main>
        <div class="footer">
            <div class="padding-class">
               <div class="text1">
                <h4>contact us</h4>
                <p>132A Bridge Road Richmond VIC Australia.
                <br>
                <br>
                Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="text2">
               <h4>useful information</h4>
                <div class="columns">
                   <div class="column1">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                <div class="column2">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="text3">
                <h4>let's stay in touch!</h4>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <div class="send">
                <input type="email" placeholder="your email adress" class="placeholder">
                <a href="#"><img src="img/send.png" alt="send"></a>
                </div>
            </div>

            </div>
                 <div class="endline">
                <p>&copy; Copyright - INTERIOR 2018. All Rights Reserved.</p>
                <div class="icons">
 
                     <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                     <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                     <a href="#" class="social"><i class="fab fa-pinterest-p"></i></a>
</div>
                <a href="#">Terms &amp; Conditions  /  Privacy policy &amp; Cookies</a>
            </div>
        </div>
</div>>
{%endblock%}