<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href='{{url_for('static',filename='css/style.css')}}'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <header>

            <div class="padding-class">
                <div class="header">
                    <a href="\"><img src="img/logo.png" alt="logo"></a>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        <li><a href="{{ url_for('products') }}" class="active-link">PRODUCTS</a></li>
                        <li><a href="#">HISTORY</a></li>
                        <li><a href="#">SHOWROOM</a></li>
                        <li><a href="{{ url_for('contacts') }}">CONTACT</a></li>
                    </ul>
                </div>
            </div>

    </header>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>