{%extends "layout.html"%}
{%block content%}
<div class="products">

    <div class="container">
        <main>
        <div class="products-products">
                <div class="padding-class">
                <div class="products-menu">
                <a href="#" class="active-link">all</a>
                <a href="#" class="passive-link">home</a>
                <a href="#" class="passive-link">office</a>
                <a href="#" class="passive-link">furniture</a>
                <a href="#" class="passive-link">modern</a>
                <a href="#" class="passive-link">classic</a>
            </div>
            <div class="products-goods">
                <a href="\product"><img src="img/product-11.jpg" alt="good1"></a>
                <a href="\product"><img src="img/product-21.jpg" alt="good2"></a>
                <a href="\product"><img src="img/product-31.jpg" alt="good3"></a>
                <a href="\product"><img src="img/product-41.jpg" alt="good4"></a>
                <a href="\product"><img src="img/product-51.jpg" alt="good5"></a>
                <a href="\product"><img src="img/product-61.jpg" alt="good6"></a>
                <a href="\product"><img src="img/product-11.jpg" alt="good7"></a>
                <a href="\product"><img src="img/product-21.jpg" alt="good8"></a>
                <a href="\product"><img src="img/product-31.jpg" alt="good9"></a>
                <a href="\product"><img src="img/product-41.jpg" alt="good10"></a>
                <a href="\product"><img src="img/product-51.jpg" alt="good11"></a>
                <a href="\product"><img src="img/product-61.jpg" alt="good12"></a>              
            </div>
            <div class="sync">
                <i class="fas fa-sync"></i>               
            </div>
            </div>
        </div>
        <div class="exclusive">
            <div class="exclusive-product1">
                <div class="exclusive-text">
                    <h4>exclusive</h4>
                    <h2>fishnet chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a href="">order us</a>
                </div>
            </div>
            <div class="exclusive-product2">
                <div class="exclusive-text">
                    <h4>exclusive</h4>
                    <h2>fishnet chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a href="">order us</a>
                </div>
            </div>


        </div>
        <div class="footer">
            <div class="padding-class">
               <div class="text1">
                <h4>contact us</h4>
                <p>132A Bridge Road Richmond VIC Australia.
                <br>
                <br>
                Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="text2">
               <h4>useful information</h4>
                <div class="columns">
                   <div class="column1">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                <div class="column2">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="text3">
                <h4>let's stay in touch!</h4>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <div class="send">
                <input type="email" placeholder="your email adress" class="placeholder">
                <a href="#"><img src="img/send.png" alt="send"></a>
                </div>
            </div>

            </div>
                 <div class="endline">
                <p>&copy; Copyright - INTERIOR 2018. All Rights Reserved.</p>
                <div class="icons">
 
                     <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                     <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                     <a href="#" class="social"><i class="fab fa-pinterest-p"></i></a>
</div>
                <a href="#">Terms &amp; Conditions  /  Privacy policy &amp; Cookies</a>
            </div>          
        </div>
        </main>


    </div>

</div>
{%endblock%}
