{%extends "layout.html"%}
{%block content%}

<div class="product">

    <div class="container">
        <main>
        <div class="top-block">
       <div class="menustring">
           <a href="#" class="active-link">all</a>
           <a href="#">home</a>
           <a href="#">office</a>
           <a href="#">furniture</a>
           <a href="#">modern</a>
           <a href="#">classic</a>
       </div>
       </div>
       <div class="gooddescription">
           <div class="good">
               <div class="large"><img src="img/good-large.jpg" alt="large-good"></div>
               <div class="small">
                   <a href="#"><img src="img/good-small1.jpg" alt="good-small1"></a>
                   <a href="#"><img src="img/good-small2.jpg" alt="good-small2"></a>
                   <a href="#"><img src="img/good-small3.jpg" alt="good-small3"></a>
                   
               </div>

               
           </div>   
           
           <div class="description">
                  <h2>fishnet chair</h2>
                   <h4>hot deal</h4>
                   <div class="price">
                   <div class="price1">$</div>
                   <div class="price1">36.7</div>
                   <div class="price1">/sq</div>
                   </div>
                   <a href="#">order us  ></a>
                   <p>The majesty of Mountains - Ugmonk style.
                   <br>
                   <br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
 et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
 <br><br>
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
<br><br>
 sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          <br> </p></div>
           
           
           
           
           
       </div>

       
       
        <div class="footer">
            <div class="padding-class">
               <div class="text1">
                <h4>contact us</h4>
                <p>132A Bridge Road Richmond VIC Australia.
                <br>
                <br>
                Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="text2">
               <h4>useful information</h4>
                <div class="columns">
                   <div class="column1">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                <div class="column2">
                    <ul>
                        <li><a href="#">SALES TERMS</a></li>
                        <li><a href="#">CUSTOMER CARE</a></li>
                        <li><a href="#">DELIVERY</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="text3">
                <h4>let's stay in touch!</h4>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <div class="send">
                <input type="email" placeholder="your email adress" class="placeholder">
                <a href="#"><img src="img/send.png" alt="send"></a>
                </div>
            </div>

            </div>
                 <div class="endline">
                <p>&copy; Copyright - INTERIOR 2018. All Rights Reserved.</p>
                <div class="icons">
 
                     <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                     <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                     <a href="#" class="social"><i class="fab fa-pinterest-p"></i></a>
</div>
                <a href="#">Terms &amp; Conditions  /  Privacy policy &amp; Cookies</a>
            </div>          
        </div>
        </main>


    </div>

</div>
{%endblock%}
